*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'sans-serif';
}
.card{
    min-height: 100vh;
    background-image: url(images/background.png);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.first{
    min-height: 100vh;
    background-image: url(images/back-image.png);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}




.card-con{
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}

.card-con .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 5s;
}

.card-con .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card-con .front img{
    position: absolute;
    width: 100%;
    height: fit-content;
    object-fit: cover;
}

.card-con .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
    line-height: 45px;
    color: #fff;
    background: rgba(0, 0, 0, .4);
    text-align: center;
}

.card-con .back{
    transform: perspective(600px) rotateY(180deg);
    background-image: linear-gradient(45deg, #df4881, #c430d7);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card-con .back .link{
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card-con .back .link a{
    color: #f3f3f3;
}

.card-con .back h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card-con .back p{
    letter-spacing: 1px;
}

.card-con:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.card-con:hover .back{
    transform: perspective(600px) rotateY(360deg);
}


footer{
    width: 100%;
    height: 80px;
    background-image: linear-gradient(45deg, #df4881, #c430d7);
}

@media (max-width:375px) {
    .hero{
        width: 100vw;
        height: 100vh;
        background-image: url(images/back-image.png);
        background-position: cover;
        background-size: cover;
        padding: 15px 1%;
        position: relative;
    }
    
    nav{
        padding: 5px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .logo{
        width: 70px;
    }

    nav ul li{
        display: inline-block;
        list-style: none;
        margin: 10px 10px;
    }
    
    nav ul li a{
        text-decoration: none;
        color: #333;

    }
    

    .login-btn{
        text-decoration: none;
        color: #333;
        margin-right: 15px;
        font-weight: 400;
        padding: 8px;
    }
    
    .btn{
        display: inline-block;
        text-decoration: none;
        padding: 4px 10px;
        color: #fff;
        background-image: linear-gradient(45deg, #df4881, #c430d7);
        font-style: 2px;
        border-radius: 30px;
        border-top-right-radius: 0;
        transition: .5s;
    }
    
    .content{
        margin-top: 3%;
        min-width: 60px;
    }

    .content h1{
        font-size: 70px;
        color: #222;
    }
    
    .content p{
        margin: 4px 0 10px;
        color: #333;
        animation-delay: 0.5s;
    }
    
    .content .btn{
        padding: 5px 10px;
        font-size: 20px;
        animation-delay: 1s;
    }
    
    .feature-img{
        width: 400px;
        height: 400px;
        position: absolute;
        bottom: 2;
        right: 0;
    }

    .hero2{
        width: 100vw;
        height: 100vh;
        background-image: url(images/back-image.png);
        background-position: cover;
        background-size: cover;
        padding: 5px 5%;
    }
    
    .container{
        height: 200px;
        width: 100vw;
        text-align: center;
        position: relative;
        top: 10vh;
    }
    
    
    .hero2 h2{
        color: gray;
        margin: 10px;
        font-size: 20px;
    }
}

.intro{
    color: orangered;
    margin: 10px;
    font-size: 30px;
}

.gyrate{
    color: blue;
    margin: 10px;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}

.cont{
    color: blue;
    margin: 10px;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
}

.wrr{
    background-image: linear-gradient(45deg, #df4881, #c430d7);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.main{
    display: grid;
    gap: 10px;
    color: #fff;
    line-height: -9px;
}

.footer{
    height: 40vh;
    width: 100%;
}
